
upload-service/node_modules
upload-service/.env
upload-service/cloned_repo/
upload-service/dist

deploy-service/node_modules
deploy-service/dist
deploy-service/.env

request-handler/node_modules
request-handler/dist
request-handler/.env

frontend/node_modules
frontend/dist